@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Zilla+Slab:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    font-family: Zilla Slab, sans-serif;
    padding: 0%;
    margin: 0%;
    background-color: dimgray;
}
ul {
    padding: 0%;
    margin: 0%;
}
li {
    list-style: none;
}
h1 {
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 30px;
    padding-top: 130px;
    font-size: 5em;
    color: indianred;
    text-shadow: 2px 4px 3px whitesmoke;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 3em;
    color: cyan;
    text-shadow: 2px 4px 3px red;
}
h3 {
    padding-top: 30px;
    margin-left: 10px;
    color: indianred;
    text-shadow: 2px 4px 3px whitesmoke;
    font-size: 2em;
}
a {
    text-decoration: none;
    color:whitesmoke;
}
/* ************ NAVBAR *********** */
header nav {
    overflow: hidden;
    background-color: indianred;
    position: fixed;
    width: 100%;
    opacity: 0,8;
    ;
}
header li {
    float: right;
    font-size: 1.5em;
}
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

#logo {
    float: left;
    font-weight: bold;
    font-family: Zilla Slab;
    font-style: oblique;
}
header li a:hover {
    opacity: 0.5;
    transform: scale(1.05);
    color: beige;
    transition: 0.8s ease-in-out;
}
/* ************ IMG PRINCIPALE *********** */
#imageprincipale {
    padding-top: 60px;
    background: url(images/pexels-miguel-á-padriñán-167092.jpg) no-repeat  50% 50%;
    background-size: cover;
    height: 699px ;
}
#premierTrait {
    height: 6px;
    width: 25%;
    margin: -3px auto;
    background-color: whitesmoke;
}
/* ************ PRESENTATION *********** */
#presentation {
    background-color: #FFFAE1;
    padding: 10px 0px 100px 0px;
}
#textIntro {
    padding: 0px 20%;
}
#Comite {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
}
.imageComite {
    margin-top: 10px;
}
.imageComite h4 {
font-family: Zilla Slab;
text-align: center;
font-size: 1.1em;
margin: 15px;
font-weight: 300;
color: black;
text-transform: capitalize;
font-weight: bold;
}
.comitedesc {
    display: flex;
}
.comitedesc p {
    padding: 10px;

}
.imageComite img {
    border-radius: 10px;
    height: 240px;
    width: 240px;
    box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 7);
    margin-left: 10px;

}
.imageComite img:hover {
    opacity: 0.5;
    transform: scale(1.1);
    transition: 0.8s ease-in-out;
}
/* ************ Passions *********** */

#passions h2{
    height: 1400px;
    background-color: #f1f2f6;
    padding: 1px 2%;
}

#Chant {
    background-image: url(images/bogomil-mihaylov-ekHSHvgr27k-unsplash.jpg);
}
#Instruments {
    background-image: url(images/alexandre-brondino-zHFccz3713M-unsplash.jpg);
}
#Production {
    background-image: url(images/tom-pottiger-6-3ZztOEjXs-unsplash.jpg);
}
#passions li{
    margin: 65px 100px 100px;
    height: 180px;
    width: 55%;
    float: left;
    box-shadow: 6px 6px 28px -1px rgba(0, 0, 0, 0.75);
}
#passions p {
    height: 45px;
    width: 235px;
    background-color: cyan;
    float: right;
    margin: 50px -180px 0 0;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px rgb(9, 15, 22);
}
#passions p:hover {
    opacity: 0.5;
    transform: scale(1.05);
    color: beige;
    transition: 0.8s ease-in-out;
}
/* ************ Footer *********** */

footer {
    background-color: #524A3A;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center;
}
form {
    margin: 0 auto;
    max-width: 900px;
}
input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    border-radius: 8px;
}
textarea {
    height: 120px;
}
button {
    padding: 20px 50px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0px;
    background: transparent;
    position: relative;
    transition: all .2s;
    overflow: hidden;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
  }
  button::after {
    content: '';
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    z-index: -1;
    transition: all .5s;
  }
  button:hover::after {
    transform: rotate(150deg);
  }
  
  button:hover {
    transform: translate(0,-6px);
    box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, .25), -10px 10px 25px 0px rgba(39, 200, 255, .25);
  }
}
#deuxiemeTrait {
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
}
#copyrighteticons {
display: flex;
margin-bottom: 20px;
padding: 0 10%;
}
#copyright {
    text-align: left;
    width: 50%;
    color: whitesmoke;
}
#icons {
    text-align: right;
}
#icons a {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.3em;
    color: whitesmoke;
}
#icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
}